.match {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    position: relative;
}

.matchSlider {
    width: 1300px;
    display: flex;
    gap: 20px;
}

.matchBtns {
    position: absolute;
    top: 50%;
    left: 0;
    color: #000;
    transform: translate(0, -50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.matchBtns_item {
    padding: 10px 30px;
    background-color: #ffffff;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
}

.activBtn {
    background-color: #E5097F;
    color: #fff;
}


/* ---------------------------- */

.news_and_stats {
    display: flex;
    gap: 40px;
    width: 1300px;
}

.centerBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.title_block {
    color: #000058;
    font-size: 24px;
    font-weight: 600;
}

.news_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 30px;
    width: 100%;
    margin-top: 30px;
}

.news {
    width: 70%;
}

.stats {
    width: 30%;
}


/* ---------------------- */

.stats {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.stats_block {
    display: flex;
    flex-direction: column;
    border: 1px solid #E7E7E7;
    border-radius: 30px;
}

.stats_block_title {
    font-size: 20px;
    font-weight: 600;
    padding: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.stats_block_btn {
    font-size: 16px;
    font-weight: 600;
    color: #D9D9D9;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 15px;
    color: #000;
}

.stats_block_btn:hover {
    color: #fff;
    background-color: #2A0054;
}

.activePoint {
    background-color: #2A0054;
    color: #fff;
}

.stats_block_more {
    font-size: 14px;
    font-weight: 500;
    padding: 18px;
    display: flex;
    align-items: center;
    gap: 12px;
    color: #0000B0;
    cursor: pointer;
}

.stats_block_tableHead {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 18px;
    background-color: #2A0054;
}

.stats_block_tableHead_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    color: #fff;
    font-weight: 600;
}

.stats_block_tableHead_num,
.stats_block_tableHead_games,
.stats_block_tableHead_points {
    width: 20px;
    text-align: right;
}


.stats_block_tableData {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 18px;
    border-bottom: 1px solid #E7E7E7;
}

.stats_block_tableData:last-child {
    border: none;
}

.stats_block_tableData_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.stats_block_tableData_num,
.stats_block_tableData_games,
.stats_block_tableData_points {
    width: 20px;
    text-align: right;
}

.stats_block_tableData_club {
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: 600;
}

.br img {
    width: 32px;
    height: 32px;
    object-fit: contain;
    border-radius: 50%;
    overflow: hidden;
}

.stats_block_tableData_club img {
    width: 32px;
    height: 32px;
    object-fit: contain;
}

.stats_block_tableData_points {
    font-weight: 600;
}

.sponsors {
    width: 1300px;
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}

.sponsors img {
    object-fit: contain;
}

/* --------------------------------- */

.statistic {
    width: 1300px;
    border: 1px solid #E7E7E7;
    padding: 25px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.statistic_title {
    display: flex;
    justify-content: space-between;
}

.statistic_title_moreLink {
    color: #000058;
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}

.statistic_table {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.statistic_table_item {
    width: 25%;
    padding: 12px 18px;
    border: 1px solid #E7E7E7;
    margin-left: -1px;
    margin-top: -1px;
    display: flex;
    flex-direction: column;
}

.statistic_table_item_info{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.statistic_table_item_info_name{
    gap: 18px;
    color: #666C78;
    text-transform: uppercase;
    font-size: 14px;
}

.statistic_table_item_info_stats{
    color: #00002C;
    font-size: 26px;
    display: flex;
    gap: 15px;
}

.statistic_table_item_info_stats img{
    width: 17px;
    height: 26px;
}

.statistic_table_item_title{
    display: flex;
    gap: 18px;
} 

/* ------------------------------------ */

.videos{
    width: 1300px;
}

.videos_items{
    margin-top: 20px;
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: space-between;
}

.videos_items_item{
    width: 24%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.videos_items_item_img{
    width: 100%;
    height: 170px;
    position: relative;
}

.videos_items_item_img>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}

.videos_items_item_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.videos_items_item_info_tag{
    background-color: #888888;
    border-radius: 10px;
    padding: 3px 12px;
    font-size: 10px;
    color: #fff;
}

.videos_items_item_info_date{
    color: #888888;
    font-size: 10px;
}

.videos_items_item_info_name{
    color: #00002C;
    font-size: 16px;
    font-weight: 600;
}

.clubs{
    width: 1300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.clubs_items{
    display: flex;
    align-items: center;
    gap: 40px;
}

.clubs_items_item{
    width: 48px;
    height: 48px;
}

.clubs_items_item img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}